.App {
  font-family: sans-serif;
  /* text-align: center; */
}

body {
  background-image: url("Asset\ 2.png");
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}


